<app-nav-bar></app-nav-bar>
<div class="container">
  <table class="table center" *ngIf="customers">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>
          <button class="btn btn-success" (click)="getBills(c)">Cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
